In [1]:
import pandas as pd 
import numpy as np 
import seaborn as sns
import matplotlib as plt

## # Data Prep 

- Gathered browns' most recent schedule and game results data from Pro football referece .com on Dec 21 
- Downloaded last 3 full seasons from 2019 to 2021 and partial season for 2022 which only includes first 16 regular season games 
- Combine games into one excel document 
- remove bye weeks 
- Deleted data corresponding to expected points, because this is an engineered feature 
- Rename columns under categories score, offense and defense and expected points 
    - tm to points scored, opp to points allowed 
    - 1st downs gained
    - pass yards gained 
    - rush yards gained 
    - turnovers 
    
    Defense 
    - first downs allowed 
    - total yards allowed 
    - pass yards allowed 
    - rush yards allowed 
    - forced turnovers 
 - Including playoff games in record because goal is to predict browns ability to win a game regardless of whether it is regular season or post season 
 
- delete first row of data (score, offense, defense should be removed) 
- updated dates to reflect year game was played

In [6]:
df = pd.read_excel('consolidated record.xls')

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 66 entries, 0 to 65
Data columns (total 22 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Week        65 non-null     float64
 1   Day         65 non-null     object
 2   Date        65 non-null     datetime64[ns]
 3   Unnamed: 3  65 non-null     object
 4   Unnamed: 4  65 non-null     object
 5   Unnamed: 5  65 non-null     object
 6   OT          1 non-null      object
 7   Rec         65 non-null     object
 8   Location    33 non-null     object
 9   Opp         65 non-null     object
 10  tm          65 non-null     float64
 11  Opp.1       65 non-null     float64
 12  1stD o      65 non-null     float64
 13  TotYd o     65 non-null     float64
 14  PassY o     65 non-null     float64
 15  RushY o     65 non-null     float64
 16  TO o        47 non-null     float64
 17  1stD d      65 non-null     float64
 18  TotYd d     65 non-null     float64
 19  PassY d     65 non-null     float64
 20  RushY d     65 non-null     float64
 21  TO d        43 non-null     float64
dtypes: datetime64[ns](1), float64(13), object(8)
memory usage: 11.5+ KB

In [8]:
# drop columns don't want: OT, Rec, Week, Unnamed: 3, 4
# dropping columns 
df = df.drop(columns= ['Week','Day','Date','Unnamed: 3','Unnamed: 4','OT','Rec'])

df

,Unnamed: 5,Location,Opp,tm,Opp.1,1stD o,TotYd o,PassY o,RushY o,TO o,1stD d,TotYd d,PassY d,RushY d,TO d
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,L,NaN,Tennessee Titans,13.0,43.0,19.0,346.0,244.0,102.0,3.0,21.0,339.0,216.0,123.0,NaN
2,W,@,New York Jets,23.0,3.0,16.0,375.0,305.0,70.0,1.0,13.0,262.0,169.0,93.0,1.0
3,L,NaN,Los Angeles Rams,13.0,20.0,18.0,270.0,175.0,95.0,1.0,20.0,344.0,254.0,90.0,3.0
4,W,@,Baltimore Ravens,40.0,25.0,22.0,530.0,337.0,193.0,1.0,24.0,395.0,222.0,173.0,3.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
61,L,@,Buffalo Bills,23.0,31.0,27.0,396.0,316.0,80.0,1.0,22.0,357.0,186.0,171.0,NaN
62,W,NaN,Tampa Bay Buccaneers,23.0,17.0,22.0,367.0,178.0,189.0,1.0,16.0,325.0,229.0,96.0,NaN
63,W,@,Houston Texans,27.0,14.0,14.0,304.0,130.0,174.0,2.0,16.0,283.0,201.0,82.0,4.0
64,L,@,Cincinnati Bengals,10.0,23.0,18.0,344.0,273.0,71.0,1.0,23.0,363.0,227.0,136.0,1.0
65,W,NaN,Baltimore Ravens,13.0,3.0,19.0,283.0,140.0,143.0,NaN,17.0,324.0,126.0,198.0,2.0

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 66 entries, 0 to 65
Data columns (total 15 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 5  65 non-null     object
 1   Location    33 non-null     object
 2   Opp         65 non-null     object
 3   tm          65 non-null     float64
 4   Opp.1       65 non-null     float64
 5   1stD o      65 non-null     float64
 6   TotYd o     65 non-null     float64
 7   PassY o     65 non-null     float64
 8   RushY o     65 non-null     float64
 9   TO o        47 non-null     float64
 10  1stD d      65 non-null     float64
 11  TotYd d     65 non-null     float64
 12  PassY d     65 non-null     float64
 13  RushY d     65 non-null     float64
 14  TO d        43 non-null     float64
dtypes: float64(12), object(3)
memory usage: 7.9+ KB

In [17]:
 df.columns = [column.replace(' ','_').lower() for column in df]

In [18]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 66 entries, 0 to 65
Data columns (total 15 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   result               65 non-null     object
 1   location             33 non-null     object
 2   opp                  65 non-null     object
 3   points_scored        65 non-null     float64
 4   opp.1                65 non-null     float64
 5   first_downs_gained   65 non-null     float64
 6   totyd_o_             65 non-null     float64
 7   passy_o_             65 non-null     float64
 8   rush_yards_gained    65 non-null     float64
 9   to_o_                47 non-null     float64
 10  first_downs_allowed  65 non-null     float64
 11  total_yards_allowed  65 non-null     float64
 12  passy_d_             65 non-null     float64
 13  rushy_d_             65 non-null     float64
 14  to_d_                43 non-null     float64
dtypes: float64(12), object(3)
memory usage: 7.9+ KB

In [15]:
# renaming column names to more readable format
df = df.rename(columns = {'Unnamed: 5':'result', 'opp':'opponent',
                              'opp.1':'points_allowed', 
                              'tm':'points_scored',
                              '1stD o':'first_downs_gained', 'TotYd o':'total_yards_gained',
                              'PassY o':'pass_yards_gained',
                              'RushY o':'rush_yards_gained','TO o':'turnovers','1stD d':'first_downs_allowed',
                              'TotYd d':'total_yards_allowed',
                              'passy_d_':'pass_yards_allowed','rushy_d_':'rush_yards_allowed',
                              'to_d_':'turnovers_forced',})

In [16]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 66 entries, 0 to 65
Data columns (total 15 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   result               65 non-null     object
 1   Location             33 non-null     object
 2   Opp                  65 non-null     object
 3   points_scored        65 non-null     float64
 4   Opp.1                65 non-null     float64
 5   first_downs_gained   65 non-null     float64
 6   TotYd o              65 non-null     float64
 7   PassY o              65 non-null     float64
 8   rush_yards_gained    65 non-null     float64
 9   TO o                 47 non-null     float64
 10  first_downs_allowed  65 non-null     float64
 11  total_yards_allowed  65 non-null     float64
 12  PassY d              65 non-null     float64
 13  RushY d              65 non-null     float64
 14  TO d                 43 non-null     float64
dtypes: float64(12), object(3)
memory usage: 7.9+ KB